<div class="modal-container">
  <header>
    <button id="bt-close" (click)="closeMe()"></button>
  </header>
    <div class="modal-body" *ngIf="!isSubmitted">
      <label for="email">Give us your Email to contact you</label>
      <input type="text" id="email" [formControl]="email">
      <div class="btn-container">
        <button id="bt-send" (click)="send()" [disabled]="!email.valid">Send</button>
      </div>
    </div>
    <div class="modal-body" *ngIf="isSubmitted">
      <p>We have received your Email.<br>We will contact you as soon as possible.</p>
    </div>
  </div>
  
